@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-heading-var);
  --font-body: var(--font-body-var);
  --color-purple-deep: #3d0088;
  --color-purple-dark: #260055;
  --color-teal: #75ffe5;
  --color-green-accent: #57fd05;
  --color-green-light: #98f470;
  --color-dark-teal: #0e383b;
  --color-purple-border: #402266;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #3d0088;
  color: #fff;
  font-family: var(--font-body), sans-serif;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  list-style: none;
}

